<!DOCTYPE html>
<html lang="ja">
<head>
<title>data</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="btn-group" role="group" aria-label="Basic example"> 
 <a button type="button" class="btn btn-secondary" href="showSingleMode">SingleMode</button></a>
  <a button type="button" class="btn btn-secondary" href="showOverview">OverView</button></a>
  <a button type="button" class="btn btn-secondary" href="showCounting">Counting</button></a>
  <a button type="button" class="btn btn-secondary" href="showTrackingMode">TrackingMode</button></a>
  <a button type="button" class="btn btn-secondary" href="showData">Data</button></a>
  </div>
</body>
</html>